<%- include("../templates/encabezado")%>
<%- include("../templates/menu")%>
<div class="container mt-5">
    <form action="/editar" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h1>Modificar cliente</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= client.id %>">
                <input type="hidden" name="passwordViejo" id="passwordViejo" value="<%= client.password%>">
                <input type="hidden" name="fotoVieja" id="fotoVieja" value="<%= client.foto%>">
                <input type="hidden" name="saltViejo" id="saltViejo" value="<%= client.salt%>">
                <input class="form-control mb-3" type="text" value="<%= user.nombre%>" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" value="<%= user.cliente%>" name="cliente" id="cliente" placeholder="Cliente">
                <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Nuevo Password o en blanco para conservarlo">
                <input class="form-control mb-3" type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary" type="submit">Modificar cliente</button>
            </div>
        </div>
    </form>
</div>
<%- include("../templates/pie")%>